/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Nov-2016, 08:36:21
    Author     : user
*/


.button1,.button2 {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10;
    
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}
.button2{
-fx-background-color:blue;
}

.button:hover {
    -fx-background-color:linear-gradient(green, blueviolet);
}